@import './preflight.css';

:root {
  --btn-primary: #006d75;
  --btn-primary-hover: #08979c;
  --btn-primary-focus: #13c2c2;
  --btn-error: #a8071a;
  --btn-error-hover: #cf1322;
  --btn-error-focus: #f5222d;
  --btn-ghost: #8c8c8c;
  --btn-ghost-hover: #bfbfbf;
  --btn-ghost-focus: #d9d9d9;

  --input-primary: #595959;
  --input-focus: #bfbfbf;
  --input-error: #f5222d;
  --input-placeholder: #bfbfbf;

  --accent: #13c2c2;

  --toast-text: #ffffff;
  --toast-success: #237804;
  --toast-error: #a8071a;
  --toast-warning: #ad8b00;
  --toast-info: #0050b3;
  --toast-info-text: #ffffff;

  --drawer-background: #434343;

  --table-header: #434343;
  --table-body: #595959;
  --table-footer: #434343;

  --dropdown-background: #595959;

  --tooltip-background: #595959;
  --tooltip-text: #ffffff;

  --shadow: 0 0 0 0px #fff, 0 0 0 0px #fff, 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.no-scroll {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #262626;
  color: white;
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
}
